@media (max-width: 1120px) {
    .product_photo {
        width: 210px;
    }

    .adaptive_float {
        float: right;
    }
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .sm {
        font-size: 11px;
        padding: 0 10px;
    }

    section {
        width: 100%;
        float: none;
    }
    .product_description {
        width: 52%;
    }
    .blackbar {
        font-size: 14px;
    }

    .mob_title {
        font-size: 16px;
    }

    .text_description {
        margin-bottom: 30px;
    }

    .submenu {
        width: 145px;
    }

    .price {
        font-size: 16px;
    }

    .submenu a {
        font-size: 12px;
    }

    .right {
        margin-top: -35px;
    }

    .span1 {
        padding: 0 20px;
    }

    .box_laptop {
        padding: 10px 5%;
    }

    .product_photo_item {
    width: 195px;
    }

    .radio_inline {
        display: inline-block;
        line-height: 2rem;
    }

    .table_input {
        width: 80%;
    }

    .tablet_total {
        padding: 20px;
    }

    .big_container {
        width: 90%;
    }
}
