@media (max-width: 628px) {
    .wrapper_main {
        grid-template-columns: 1fr 1fr;
    }

    .container {
        padding: 0 25px;
    }

    .wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .column_view {
        display: block;
    }

    .flex_mob {
        flex-flow: wrap;
        justify-content: center;
    }

    .color {
        width: 20px;
        height: 20px;
    }

    .input_item {
        width: 52%;
    }

    .mobile_grid {
        display: grid;
    }
    .mobile_only {
        display: block;
    }

    .flex_wrap {
        width: auto;
        display: inline-flex;
        justify-content: center;
    }
    .dev_title {
        text-align: center;
        font-size: 16px;
    }
    .dev_img {
        margin: 50px auto;
        display: table;

    }
    .dog {
        width: 155px;
        height: auto;
    }

    .none {
        display: none;
    }

    .big_container {
        width: 100%;
    }

    .aside {
        font-size: initial;
        padding: 0 30px 30px;
    }

    .mob_title {
        padding-top: 0;
        font-size: 16px
    }

    .mob_menu {
        justify-content: center;
        flex-flow: wrap;
    }

    .mob_menu > li {
        padding: 10px;
    }

    .footer_landscape {
        padding-top: 20px;
    }
    .footer_landscape_item {
        width: 100%;
    }

    .pos_relative {
        position: relative;
    }

    .close_image_mob {
        right: -20px;
        height: 23px;
        width: 23px;
        position: absolute;
        top: -39px;
    }

    .footer_link {
        width: max-content;
    }
    .baloon_small {
        width: 228px;
        height: auto;
    }

    .tel {
        font-size: larger;
        justify-content: center;
    }

    .text_description_title {
        font-size: 14px;
    }

    .mob_small_baloon {
        width: 120px;
        height: auto;
        padding: 5px;
    }

    .search_block {
        height: auto;
    }

    .cart_box {
        margin: 15px;
    }

    .card_button {
        margin-left: 0;
    }

    .bordered {
        padding: 0 10px;
    }

    .buy_button {
        font-size: small;
        padding: 10px 5%;
    }

    .box {
        padding: 8px 10%;
    }

    .mob_desrc {
        display: block;
        text-align: center;
    }

    .bottom_descr_style {
        left: 29px;
        top: 12px;
        font-size: smaller;
    }

    .product_img {
        width: 20px;
        height: 20px;
        padding: 7px 0;
    }

    .text_description {
        padding: 0 20px 25px;
    }

    section {
        width: 100%;
        margin-top: 55px;
    }

    .form-control {
        width: 220px;
    }

    .blackbar {
        display: none;
    }

    .product_description_top {
        width: 100%;
    }

    .side_menu {
        color: white;
        text-align: center
    }

    .menu__item:hover {
        color: #D4ACB5;
    }

    .side_menu:hover {
        color: silver;
    }

    .mob_baloon {
        height: auto;
        width: 260px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 17px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

}