@media (max-width: 376px) {
    .wrapper_main {
        grid-template-columns: 1fr 1fr;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    .footer_landscape_item {
        width: 100%;
    }

    .footer_landscape {
        flex-flow: column;
    }

    .big_container {
        font-size: smaller;
    }

    .radio_inline > p {
        margin: 0;
    }

    .mobile_footer_item {
        width: 100%;
    }

    .menu__box {
        display: inline-flex;
    }

    .card_button {
        margin-top: 15px;
    }

    .mob_menu {
        width: 100%;
    }

    .mob_menu > li {
        padding: 10px;
    }

    .top_nav_bar {
        flex-wrap: wrap;
    }

    .top_nav {
        height: auto;
    }

    .side_menu {
        color: white;
        text-align: center;
    }

    .side_menu:hover {
        color: silver;
    }

    .mobile_only {
        display: block;
    }

    .form-control {
        width: 255px;
        padding-left: 15px;
    }

    .close_image_mob {
        height: 15px;
        width: 15px;
    }

    .delivery_form {
        font-size: initial;
    }

    .delivery {
        padding: 20px 100px;
    }

    .table_input {
        width: 52%;
    }

    .sidebar {
        font-size: small;
        display: inline-table;
        width: auto;
    }

    .table_icon {
        left: 0;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 17px;
        color: cornsilk;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .product_description_top {
        font-size: x-small;
    }
    .amount input {
        width: 10px;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .amount span {
            width: 16px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }
}