
body {
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: max-content;
    position: relative;
}

.modal_logo {
    width: 50%;
}

.modal_text {
    height: 6vh;
}
.modal_centerBtn {
    margin-bottom: 20px;
    text-align: center;
}

.modal_input {
    width: 86%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 30px;
    border: 1px solid lightgrey;
}

.modal_btn {
    margin-top: 15px;
    padding: 10px;
    border: transparent;
}

.close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: -32px;
    background-color: transparent;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1120px) {
    .modal-content {
        width: 55%;
    }
}
@media (max-width: 628px) {
    .modal-content {
        width: 68%;
    }
    .modal {
        padding-top: 20%;
    }
}
@media (max-width: 376px) {
    .modal-content {
        width: 68%;
    }

    .close {
        width: 25px;
        height: 25px;
        right: -26px;
    }

    .modal {
        padding-top: 20%;
    }
}